@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root{
    --verde:#0c443a;
    --limon:#25d1b2;
    --degradado:linear-gradient(90deg, var(--limon),var(--verde));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

body{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 100px;
    background-color: #21262b; 
    color: white; 
}

.head{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10;
    top: 0;left: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 4);
    background: linear-gradient(45deg, #000033, #000080, #0000b3, #000033);
    background-size: 400% 400%;
    position: fixed;
    width: 100%;
    z-index: 100%;
    animation: Gradient 12s ease-in-out infinite;
    color: white;
    text-transform: uppercase;


}

.content_header{
    background-color: url(../a.webp);
}
 

@keyframes Gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.head .logo{
    font-size: 2rem;
    color: var(--verde);
    text-decoration: none;
}

.head .logo span{
    color: var(--limon);
}


.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;

    
}

.container .btn-menu, .logo{
    float: left;
    line-height: 75px;
}

.logo h1 {

    color: white;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;

}


.menu{
    float: right;
    line-height: 75px;
}

.menu a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    line-height: normal;
    font-size: 14px;
    transition: all 500ms ease;

}

.menu a:hover{
    color: #000000;


}



.search {
    position: absolute;
    top: 20px;
    left: 900px;

}



.btn-menu{

float: left;
line-height: 70px;


}


.btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}


/*MENU LATERAL*/

#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 20;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}






